<div class="login-container">
  <mat-error *ngIf="authFailed" translate>login.authFail</mat-error>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint align="end" translate="login.forgot" (click)="openForgotPassword()"></mat-hint>
  </mat-form-field>

  <button (click)="loginClicked()" [disabled]="isLoginDisabled()" mat-raised-button>Login</button>
</div>
