<div class="w-50 pt-5 text-center">
  <div class="d-inline-grid w-75">
    <span class="text-style Text-Style-8 d-inline-grid pt-5">
      WELCOME BACK!
      <span class="Text-Style-10 pt-4">
        Don’t have an account,
        <a href="" class="Text-Style-9">Sign up</a>
      </span>
    </span>

    <form class="d-inline-grid pt-5 pb-5" (submit)="loginClicked()">
      <mat-error *ngIf="authFailed" translate>auth.authFail</mat-error>
      <label class="text-style Text-Style-13 pt-4">Email</label>
      <input-email (value)="email.value = $event" (invalid)="email.invalid = $event"></input-email>

      <label class="text-style Text-Style-13 pt-4">Password</label>
      <input-pwd (value)="password.value = $event"
                 (invalid)="password.invalid = $event">
      </input-pwd>
      <mat-checkbox class="text-style Text-Style-11" value="rememberMe">Remember me</mat-checkbox>

      <button class="sign-in-button mt-5 Text-Style-14" type="submit" [disabled]="isLoginDisabled()" mat-raised-button>Sign in</button>
    </form>
  </div>
</div>
