<!--show popup list of follower or following user-->
<div>
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="data.tab" (selectedIndexChange)="changedTab($event)">

    <mat-tab *ngFor="let tab of tabsData" label="{{tab.tabName | translate}}">
      <ng-template matTabContent>
        <mat-list *ngIf="followerList">
          <mat-list-item class="on-hover" (click)="clickOnUser(user.username)" *ngFor="let user of tab.list">
            <img class="image-wrapper mr-1 border" [src]="'/api/img/user/'+user.id" onerror="if (this.src !== '/assets/img/default-user.png') this.src = '/assets/img/default-user.png';" alt="">
            <div class="col">
              <span class="follow-name">
                  {{user?.name || ""}}
                <span class="follow-username">
                  {{user?.username || ""}}
                </span>
              </span>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
