
<form>
  <span translate>profile.accSettings.email</span>
  <mat-error *ngIf="wrongEmail" translate>profile.accSettings.wrongEmail</mat-error>
  <input-email [label]="'profile.accSettings.currentEmail' | translate" #currentEmail></input-email>
  <input-email [label]="'profile.accSettings.newEmail' | translate" #newEmail></input-email>
  <button (click)="newEmailClicked(currentEmail.formControl.value, newEmail.formControl.value)"
          type="submit" mat-raised-button translate="basics.change"
          [disabled]="currentEmail.formControl.invalid || newEmail.formControl.invalid"></button>
</form>

<form>
  <span translate>profile.accSettings.pwd</span>
  <mat-error *ngIf="wrongEmail" translate>profile.accSettings.wrongEmail</mat-error>
  <input-pwd type="enter" #currentPwd></input-pwd>
  <input-pwd type="new" [repeatedPwd]="currentPwd.formControl.value" #newPwd></input-pwd>
  <input-pwd type="repeat" [repeatedPwd]="newPwd.formControl.value" #repeatPwd></input-pwd>
  <button (click)="newPwdClicked(currentPwd.formControl.value, newPwd.formControl.value)"
          type="submit" mat-raised-button translate="basics.change"
          [disabled]="currentPwd.formControl.invalid || newPwd.formControl.invalid || repeatPwd.formControl.invalid"></button>
</form>

<div>
  <span translate>basics.darkmode</span>
  <div>
    <mat-icon>wb_sunny</mat-icon>
    <mat-slide-toggle [(ngModel)]="auth.iAmUser!.isDarkTheme" (change)="updateUser()"></mat-slide-toggle>
    <mat-icon>brightness_2</mat-icon>
  </div>
</div>

<div>
  <span translate>basics.chooseLang</span>
  <mat-form-field appearance="fill">
    <mat-label>{{'basics.lang' | translate}}</mat-label>
    <mat-select [(ngModel)]="auth.iAmUser.language" (selectionChange)="updateUser()">
      <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
        {{lang}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button (click)="logout()" mat-raised-button>logout</button>

