.line{
    width: 100%;
    height: 2px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.29);
    background-color: #766d63;
}

.list-margin .row{
  margin-top: 15px;
}

::ng-deep .remove-underline .mat-form-field-underline {
  display: none;
}

.img-wrapper{
  position: relative;
  width: 350px;
  height: 400px;
  border-radius: 4px;
  overflow: hidden;
}

.img-wrapper img{
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.img-wrapper button{
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: solid;
  border-radius: 10px;
}

.toCorner{
  top: -25px;
  left: -25px;
}
