.header-line{
  box-shadow: 0px -5px 17px 0px rgba(0, 0, 0, 0.2);
  border-bottom: solid;
  border-width: 0.5px;
  border-color: #ddd;
}

.footer-line{
  box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.2);
  border-top: solid;
  border-width: 0.5px;
  border-color: #ddd;
}

.color-red {
  color: var(--red)
}

.close-badge{
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: var(--red);
  float: right;
  transform: translate(-90%, -10%);
  cursor: pointer;
  width: 17px;
  height: 17px;
  font-size: 17px;
}

.btn-delete {
  border: none!important;
  width: auto!important;
  top: 0 !important;
  left: 0 !important;
  //right: 0;
  transform: none!important;
  z-index: 10;
  background: rgba(0,0,0,0.3);
}

.line{
    width: 100%;
    height: 2px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.29);
    background-color: #766d63;
}

.list-margin .row{
  margin-top: 15px;
}

::ng-deep .remove-underline .mat-form-field-underline {
  display: none;
}

.img-wrapper{
  position: relative;
  width: 350px;
  height: 400px;
  overflow: hidden;
  background: #3d3d3d;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  margin: auto;
}

.img-wrapper button{
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: solid;
  border-radius: 10px;
}

.isSelected{
  background-color: #ccc;
}

::ng-deep.mat-pseudo-checkbox{
  display: none!important;
}

::ng-deep.popover-body{
  padding: 0;
}

.remove-carousel-control {
  ::ng-deep .carousel-control-next, ::ng-deep .carousel-control-prev, ::ng-deep .carousel-indicators {
    display: none;
  }
}

::ng-deep.visually-hidden {
    display: none;
}

.row{
  margin: unset;
}

.image-wrapper{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.fix-height {
  height: 45px;
}

.box-shadow{
  box-shadow: 0 0 10.5px 5.3px rgba(0, 0, 0, 0.05);
}

.image-wrapper-2{
  border-image: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.edit-rating{

}

