<div *ngIf="!edit" class="row">
  <div class="col flex-grow-0 toCorner">
    <ngb-carousel *ngIf="images" [ngClass]="{'remove-carousel-control': images.length<=1}" [interval]="0"> <!--TODO:Geschwindigkeit vom bildwechsel-->
      <ng-template *ngFor="let image of images" ngbSlide>
        <div class="img-wrapper">
          <img [src]="image" alt="slide">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="col">
    <div class="row Text-Style-16">
      <span class="col">{{_rating.product.name}}</span>
      <span class="col" style="text-align: end">{{_rating.product?.brand}}</span>
    </div>

    <div class="line my-1"></div>

    <div class="row">
      <div class="col w-50 m-4 p-4 border border-2 rounded">
        {{_rating.description}}
      </div>

      <div class="col list-margin">
        <div class="row align-items-center">
          <span class="d-inline-grid pr-5 Text-Style-17">REWE, 12345 Altrip
<!--            {{_rating.product.location?.name || 'location unknown'}} {{_rating.product.location?.plz || 'location unknown'}}-->
            <span class="Text-Style-18">schönweg 20<!--{{_rating.product.location?.street || 'location unknown'}}--></span>
          </span>
          <mat-icon *ngIf="_rating.product.location?.name">location_on</mat-icon>
          <mat-icon *ngIf="!_rating.product.location?.name">location_off</mat-icon>
        </div>

        <div class="row">
          <div *ngFor="let friend of _rating.friends" [style]="'background-image: url(/static/img/' + friend + ');'"></div>
        </div>

        <div class="row">

        </div>

        <ngx-stars class="row" [size]="5" [initialStars]="_rating.stars" color="black" [readonly]="!edit"></ngx-stars>
      </div>
    </div>
  </div>
</div>



<div *ngIf="edit" class="row">

  <div class="col flex-grow-0 toCorner">
    <ngb-carousel *ngIf="images" [ngClass]="{'remove-carousel-control': images.length<=0}" [interval]="0">
      <ng-template *ngFor="let image of images" ngbSlide>
        <div class="img-wrapper">
          <img [src]="image" alt="slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-wrapper">
          <img src="assets/img/default_rate_pic.png" alt="first slide">
          <button mat-stroked-button>{{'ratings.choosePicture' | translate}}</button>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="col">
    <div>
      <form class="row">
        <mat-form-field class="col" appearance="fill">
          <mat-label translate>product.product</mat-label>
          <input type="text" matInput [matAutocomplete]="autoProduct" [formControl]="productControl" name="product" required>
          <mat-autocomplete #autoProduct [displayWith]="displayFnProduct">
            <mat-option *ngFor="let option of filteredOptionsProduct | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <script>
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
              placement : 'top',
              html : true,
              title : 'User Info <a href="#" class="close" data-dismiss="alert">&times;</a>',
              content : '<div class="media"><img src="/examples/images/avatar-tiny.jpg" class="mr-3" alt="Sample Image"><div class="media-body"><h5 class="media-heading">Jhon Carter</h5><p>Excellent Bootstrap popover! I really love it.</p></div></div>'
            });
            $(document).on("click", ".popover .close" , function(){
              $(this).parents(".popover").popover('hide');
            });
          });
        </script>
        <style>
          .bs-example{
            margin: 200px 150px 0;
          }
          .popover-title .close{
            position: relative;
            bottom: 3px;
          }
        </style>

        <div class="bs-example">
          <button type="button" class="btn btn-outline-secondary mr-2" placement="right" id="example"
                  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
            Popover on right
          </button>
        </div>


        <mat-form-field class="col" appearance="fill">
          <mat-label translate>product.brand</mat-label>
          <input type="text" matInput [formControl]="brandControl" [matAutocomplete]="autoBrand" name="brand">
          <mat-autocomplete #autoBrand [displayWith]="displayFnBrand">
            <mat-option *ngFor="let option of filteredOptionsBrand | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <div class="line my-1"></div>

    <div class="row">
      <div class="col w-50 m-4 p-4 border border-2 rounded">
        <mat-form-field class="w-100 remove-underline">
          <mat-label>{{'profile.desc' | translate}}</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="8" placeholder="I liked the most that..."
                    [(ngModel)]="_rating.description" name="description"></textarea>
        </mat-form-field>
      </div>

      <div class="col list-margin">
        <div class="row align-items-center">
          <mat-form-field>
            <mat-label>{{'ratings.addLocation' | translate}}</mat-label>
            <input matInput placeholder="Restaurant/bar/..."
                   [(ngModel)]="_rating.product.location!.name" name="location">
            <mat-icon matSuffix>location_on</mat-icon> <!--Druch klicken auf icon eine map öffnen-->
          </mat-form-field> <!--Wenn eine location gefunden wurde (durch vorschläge) dann soll obriges Format eingenommen werden-->
        </div>

        <div class="row">
          <div *ngFor="let friend of _rating.friends" [style]="'background-image: url(/static/img/' + friend + ');'"></div>
          <button mat-fab color="">
            <mat-icon>add</mat-icon>
          </button>
          <span class="d-flex align-items-center m-2" translate>ratings.tagFriends</span>
        </div>

        <div class="row">
          <chips-autocomplete class="w-100"></chips-autocomplete>
        </div>

        <ngx-stars class="row" [size]="5" (ratingOutput)="setStars($event)" [initialStars]="_rating.stars" color="black"></ngx-stars>
      </div>
    </div>
  </div>
</div>
