<div class="navbar px-2 Background-Nav">
  <div>
    <a class="navbar-brand" routerLink="/" href="#">
      <embed class="position-sticky" src="/assets/img/logo/Logo-black.svg" alt="UNDECIDED-Logo">
    </a>
  </div>

  <ul class="nav d-contents justify-content-end">
    <li>
      <a [routerLink]="router.url.includes('login') ? '/register' : '/login'" class="Text-Style-15">
        {{(router.url.includes('login') ? 'auth.register.signUp' : 'auth.login.signIn') | translate}}</a>
    </li>
    <li>
      <mat-expansion-panel style="box-shadow: none">
        <mat-expansion-panel-header>
          <mat-panel-title class="Text-Style-15" translate="basics.lang"></mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group (change)="changeLang($event)" aria-label="language">
          <mat-radio-button value="en" [checked]="translate.currentLang == en.value" #en>English</mat-radio-button>
          <mat-radio-button value="de" [checked]="translate.currentLang == de.value" #de>Deutsch</mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </li>
  </ul>
</div>

<div class="nav-bar-line"></div>
