<form class="d-inline-grid">
  <label class="Text-Style-13" translate>profile.accSettings.pwd</label>
  <mat-error *ngIf="wrongEmail" translate>profile.accSettings.wrongEmail</mat-error>
  <input-pwd class="mb-4" type="enter" #currentPwd></input-pwd>
  <input-pwd type="new" [repeatedPwd]="currentPwd.formControl.value" #newPwd></input-pwd>
  <input-pwd type="repeat" [repeatedPwd]="newPwd.formControl.value" #repeatPwd></input-pwd>
  <button (click)="newPwdClicked(currentPwd.formControl.value, newPwd.formControl.value)"
          type="submit" mat-raised-button translate="basics.change"
          [disabled]="currentPwd.formControl.invalid || newPwd.formControl.invalid || repeatPwd.formControl.invalid"></button>
</form>
