.ng-busy {
  height: 100%;
  width: 100%;
  z-index: 1002;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.busy-text {
  font-size: 80%;
  margin: unset;
  padding-left: .5rem;
}

.mat-progress-spinner {
  height: 30px !important;
  width: 30px !important;
}
