.BODYBACKGROUND-OVERLAY {
  width: 99%;
  min-height: 98%;
  margin: 0.5% auto auto;
  padding: 0 0 1.188rem;
  border-radius: 10px;
  box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--white);
}









/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 0, 0);
}
