.Background-Nav {
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: unset;
  //background-image: radial-gradient(circle at 50% 0%, var(--white), #f000), radial-gradient(circle at 80% 0%, #d3b95cb5, #fff0);
}

.nav-bar-line {
  width: 100%;
  height: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.29);
  background-color: #766d63;
}

.nav-bar-profile {
  border-radius: 100%;
  width: 40px;
}

.nav-bar-profile:hover {
  -webkit-filter: brightness(55%);
  transition: all ease 500ms;
}

ul{
  display: contents;
}

a.mat-button-base:hover {
  background: rgba(0,0,0,0.4);
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
