<div class="navbar px-2 Background-Nav" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
  <div>
    <a class="navbar-brand" routerLink="/" href="#">
      <embed class="position-sticky" *ngIf="!navbarfixed && mobile > 600; else favIcon" src="/assets/img/logo/Logo-black.svg" alt="UNDECIDED-Logo" >
      <ng-template #favIcon>
        <embed class="position-sticky" src="/assets/img/logo/FAV-black.svg" alt="UNDECIDED-Logo" >
      </ng-template>
    </a>
  </div>

  <ul class="nav d-contents justify-content-end">
    <li>
      <a routerLink="/home" (click)="onActivate()" mat-icon-button [class.button-selected]="router.url.includes('home')"><img src="/assets/img/iconNavHome.svg" alt="HOME"></a>
    </li>
    <li>
      <a routerLink="/search" mat-icon-button [class.button-selected]="router.url.includes('search')"><img src="/assets/img/iconsNavSearch.svg" alt="SEARCH"></a>
    </li>
    <li>
      <a routerLink="/ratings" mat-icon-button [class.button-selected]="router.url.split('/') [1]=='ratings'"><img src="/assets/img/iconsNavImage.svg" alt="RATINGS"></a>
    </li>
    <li>
      <a routerLink="/profile" class="rounded" [class.button-selected]="router.url.includes('profile')">
        <img [src]="getProfileImage()" onerror="this.src = '/assets/img/default-user.png'" class="nav-bar-profile" alt="PROFILE">
      </a>
    </li>
  </ul>
  <div class="nav-bar-line"></div>
</div>
<div *ngIf="navbarfixed" class="navbar-placeholder"></div>




<!--
<a class="nav-bar-icon-space" mat-icon-button *ngFor="let btn of buttons" [routerLink]="btn.path"  [class.button-selected]="router.url.includes(btn.path)">
  <mat-icon>{{btn.icon}}</mat-icon>
</a>-->
