<busy-div [busy]="isBusy">
<span class="profile-member-date position-absolute pt-1">{{'profile.since' | translate: {date: iAmUser.registerDate!.toLocaleDateString()} }}</span>

<div class="profile-background-content position-absolute d-inline-flex align-items-center">
  <div class="profile-picture d-flex align-items-center justify-content-around"
       [style.background-image]="'url(\'' + getProfileImage() + '\')'">
    <div *ngIf="edit">
      <input
        style="display: none"
        accept="image/*"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
      <button type="button" class="choose-image-btn" (click)="chooseImageClicked(fileInput)" mat-stroked-button>{{'ratings.choosePicture' | translate}}</button>
    </div>
  </div>
  <span *ngIf="!edit; else editName" class="profile-name">
    {{iAmUser.name}}
    <span class="profile-username">{{iAmUser.username}}</span>
  </span>
  <ng-template #editName>
    <span class="profile-name">
      <input [(ngModel)]="clonedIAmUser.name" type="text" maxlength="30" class="profile-name">
      <span class="profile-username ">{{iAmUser.username}}</span>
    </span>
  </ng-template>
</div>

<ng-template #popContent>
  <div>
    <div *ngFor="let banner of BANNERS; let i = index" [style.background-image]="'url(\'' + banner + '\')'"
         (click)="changedBanner(i)" class="small-banner mb-1 p-2">

      <div *ngIf="isBannerChecked(i)" class="checked-banner d-flex align-items-center justify-content-around">
        <mat-icon>done</mat-icon>
      </div>

    </div>
  </div>
</ng-template>
<button *ngIf="edit" class="edit-banner" mat-fab color="" placement="bottom-left right left" container="body" popoverClass="banner-popover" [ngbPopover]="popContent" [autoClose]="'outside'">
  <mat-icon>edit</mat-icon>
</button>

<div *ngIf="!edit; else editBanner" class="w-100 profile-background" [style]="'background-image: url(\'' + getBannerUrl(iAmUser.bannerImage) + '\')'"></div>
<ng-template #editBanner>
  <div class="w-100 profile-background" [style.background-image]="'url(\'' + getBannerUrl(clonedIAmUser.bannerImage) + '\')'"></div>
</ng-template>

<div class="profile-stats m-auto py-4 d-flex align-items-center justify-content-between border-bottom border-2">
  <span translate [translateParams]="{num: iAmUser.ratingsNum}">profile.ratings</span>
  <span translate [translateParams]="{num: iAmUser.followerNum}">profile.follower</span>
  <span translate [translateParams]="{num: iAmUser.followingNum}">profile.following</span>
</div>

<div class="d-flex">
  <div *ngIf="!edit" class="w-50 m-4 p-4 border border-2 rounded respect-new-line">{{iAmUser.description || ('profile.defaultDesc' | translate)}}</div>

  <div *ngIf="edit" class="w-50 m-4 p-3 border border-2 rounded respect-new-line">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label translate>profile.desc</mat-label>
      <textarea [(ngModel)]="clonedIAmUser.description" name="text" matInput #descr rows="8" maxlength="256" spellcheck="false" placeholder="{{'profile.descPlaceholder' | translate}}"></textarea>
      <mat-hint align="end">{{descr.value.length}} / 256</mat-hint>
    </mat-form-field>
  </div>

  <mat-list *ngIf="!edit; else saveChanges" class="m-auto">
    <a class="on-hover" mat-list-item routerLink="edit">
      <mat-icon mat-list-icon class="d-flex"><img src="assets/img/iconsEdit.svg" alt="edit"></mat-icon>
      <div mat-line translate>profile.edit</div>
      <mat-divider class="border-2"></mat-divider>
    </a>
    <a class="on-hover" mat-list-item routerLink="friends">
      <mat-icon mat-list-icon class="d-flex"><img src="assets/img/iconsContacts.svg" alt="friends"></mat-icon>
      <div mat-line translate>basics.friends</div>
      <mat-divider class="border-2"></mat-divider>
    </a>
    <a class="on-hover" mat-list-item routerLink="settings">
      <mat-icon mat-list-icon class="d-flex"><img src="assets/img/iconsSettings.svg" alt="settings"></mat-icon>
      <div mat-line translate>profile.settings</div>
      <mat-divider class="border-2"></mat-divider>
    </a>
  </mat-list>
  <ng-template #saveChanges>
    <div class="d-flex flex-grow-1 justify-content-around align-content-center">
      <div class="my-auto">
        <button (click)="cancelClicked()" class="color-grey rounded-btn py-2 px-5 mr-5" mat-flat-button>{{'basics.cancel' | translate}}</button>
        <button (click)="saveChangesClicked()" [disabled]="canSaveChanges()" class="color-green rounded-btn py-2 px-5 ml-5" mat-flat-button>{{'profile.save' | translate}}</button>
      </div>
    </div>
  </ng-template>
</div>
</busy-div>
