.profile-member-date{
  z-index: 2;
  right: 24px;
  font-family: FrederickatheGreat, cursive;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--white);
}

.edit-banner{
  right: 15px;
  margin-bottom: 1rem;
  background-color: #474747!important;
  z-index: 10;
  align-self: end;
}

.profile-background {
  // height: 250px;
  /*filter: blur(2px) brightness(0.8);*/
  height: 21rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.profile-background-content{
  z-index: 1;
  // height: 250px;
  margin-left: unset;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-width: 2px;
  border-style: inset;
  border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin: 1rem 3rem 1rem 3rem;
  box-shadow: 0 4px 4px 0 #00000040;
}

.profile-picture-edit{
  filter: blur(0.8px) brightness(0.8);
}

.profile-name{
  font-family: FrederickatheGreat, cursive;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 15px;
  text-align: left;
  color: var(--white);
  display: inline-grid;
}

/*input.profile-name{
  background-color: rgba(71, 71, 71, 0.8);
  border-radius: 15px;
  padding: 0.563rem 1rem 0.625rem;
  margin-left: -1rem;
}*/

input.profile-name {
  background-color: unset;
  border-radius: 15px;
  padding-left: 10px;
}


.name-background{
  background-color: rgba(71, 71, 71, 0.8);
  border-radius: 15px;
  padding: 10px 10px 10px 15px !important;
  border-width: 2px;
  border-style: inset;
  border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.profile-username{
  font-size: 1.5rem;
  letter-spacing: 10px;
}

input ~ .profile-username{
  padding-left: 13px;
}

input + .profile-username{
  padding-top: 0.5rem;
}

.profile-stats{
  font-family: Roboto, serif;
  font-size: 1.175rem;
  letter-spacing: 6px;
}

input:focus{
  outline: none;
}

.color-green {
  background: var(--green);
  color: var(--black);
}

.color-grey{
  background: var(--light-grey);
  color: var(--black);
}

.rounded-btn{
  border-radius: 2rem;
}


.small-banner{
  width: 34.8rem;
  height: 8rem;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

::ng-deep .banner-popover{
  padding: 10px!important;
  max-height: 60vh!important;
}

.checked-banner{
  border-radius: 50%;
  background: var(--green);
  width: 2rem;
  height: 2rem;
}

.choose-image-btn{
  border-radius: 10px;
  border: white 3px solid;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.edit-profile-picture{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .profile-name {
    letter-spacing: unset;
    font-size: 1.5rem;
  }
}

