<busy-div *ngIf="!userNotFound else userNotFoundTemplate" [busy]="isBusy">
  <!--profile member date-->
  <span class="profile-member-date position-absolute pt-1">{{'profile.since' | translate: {date: getDateString(iAmUser.registerDate)} }}</span>

  <!--profile background/banner-->
  <!--profile content-->
  <div class="row w-100 profile-background profile-background-content align-items-center" [style]="'background-image: url(\'' + getBannerUrl() + '\')'">



    <!--picture-->
    <div class="col m-auto flex-grow-0 align-items-center justify-content-around">
      <img class="profile-picture" [class.profile-picture-edit]="edit" [src]="getProfileImage()" alt="">
      <!--edit picture-->
      <div class="edit-profile-picture" *ngIf="edit">
        <input
          style="display: none"
          accept="image/*"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button type="button" class="choose-image-btn" (click)="chooseImageClicked(fileInput)" mat-stroked-button>{{'ratings.choosePicture' | translate}}</button>
      </div>
    </div>

    <!--profile name and username-->
    <div *ngIf="!edit; else editName" class="col">
      <span class="profile-name name-background">
        {{iAmUser.name}}
        <mat-divider></mat-divider>
        <span class="profile-username">{{iAmUser.username}}</span>
      </span>
    </div>

    <!--edit name and username-->
    <ng-template #editName>
      <div class="col">
        <span class="w-100 p-0 profile-name name-background">
          <input [(ngModel)]="clonedIAmUser.name" type="text" maxlength="30" class="profile-name">
          <mat-divider></mat-divider>
          <span class="profile-username ">{{iAmUser.username}}</span>
        </span>
      </div>
    </ng-template>

    <!--edit banner button-->
    <button *ngIf="edit" class="edit-banner" mat-mini-fab color="" placement="left-top left-bottom" container="body" popoverClass="banner-popover" [ngbPopover]="popContent" [autoClose]="'outside'">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <!--change banner dialog-->
  <ng-template #popContent>
    <div>
      <div *ngFor="let banner of BANNERS; let i = index" [style.background-image]="'url(\'' + banner + '\')'"
           (click)="changedBanner(i)" class="small-banner mb-1 p-2">
        <div *ngIf="isBannerChecked(i)" class="checked-banner d-flex align-items-center justify-content-around">
          <mat-icon>done</mat-icon>
        </div>
      </div>
    </div>
  </ng-template>

  <!--stats-->
  <div class="row profile-stats m-auto px-4 py-4 d-flex align-items-center justify-content-between border-bottom border-2">
    <a routerLink="/ratings" translate [translateParams]="{num: iAmUser.ratingsNum}" class="Text-Style-15">profile.ratings</a>
    <a routerLink="./" [queryParams]="{follow: 0}" translate [translateParams]="{num: iAmUser.followerNum}" class="Text-Style-15 cursor-pointer">profile.follower</a>
    <a routerLink="./" [queryParams]="{follow: 1}" translate [translateParams]="{num: iAmUser.followingNum}" class="Text-Style-15 cursor-pointer">profile.following</a>
    <div *ngIf="editForbidden && !isMe">
      <button (click)="followClicked()" class="color-grey rounded-btn" mat-flat-button>{{ (isFollowing ? 'basics.unfollow' : 'basics.follow') | translate }}</button>
    </div>
  </div>

  <!--description and list-->
  <div class="row w-100 justify-content-center">

    <!--description-->
    <div *ngIf="!edit" class="col m-4  p-4 border border-2 rounded respect-new-line">{{iAmUser.description || ('profile.defaultDesc' | translate)}}</div>

    <!--edit description-->
    <div *ngIf="edit" class="col m-4 p-3 border border-2 rounded respect-new-line">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label translate>profile.desc</mat-label>
        <textarea [(ngModel)]="clonedIAmUser.description" name="text" matInput #descr rows="8" maxlength="256" spellcheck="false" placeholder="{{'profile.descPlaceholder' | translate}}"></textarea>
        <mat-hint align="end">{{descr.value.length}} / 256</mat-hint>
      </mat-form-field>
    </div>

    <!--list-->
    <div *ngIf="!editForbidden" class="col m-auto">
      <mat-list *ngIf="!edit; else saveChanges" class="w-fit-content m-auto">
        <a class="on-hover" mat-list-item routerLink="edit">
          <mat-icon mat-list-icon class="d-flex"><img src="assets/img/iconsEdit.svg" alt="edit"></mat-icon>
          <div mat-line translate>profile.edit</div>
          <mat-divider class="border-2"></mat-divider>
        </a>
        <a class="on-hover" mat-list-item routerLink="friends">
          <mat-icon mat-list-icon class="d-flex"><img src="assets/img/iconsContacts.svg" alt="friends"></mat-icon>
          <div mat-line translate>basics.friends</div>
          <mat-divider class="border-2"></mat-divider>
        </a>
        <a class="on-hover" mat-list-item routerLink="settings">
          <mat-icon mat-list-icon class="d-flex"><img src="assets/img/iconsSettings.svg" alt="settings"></mat-icon>
          <div mat-line translate>profile.settings</div>
          <mat-divider class="border-2"></mat-divider>
        </a>
      </mat-list>
    </div>

    <!--cancel and save changes buttons-->
    <ng-template #saveChanges>
      <div class="d-flex justify-content-around align-content-center">
        <div class="my-auto">
          <button (click)="cancelClicked()" class="color-grey rounded-btn py-2 px-5 mr-5" mat-flat-button>{{'basics.cancel' | translate}}</button>
          <button (click)="saveChangesClicked()" [disabled]="canSaveChanges()" class="color-green rounded-btn py-2 px-5 ml-5" mat-flat-button>{{'profile.save' | translate}}</button>
        </div>
      </div>
    </ng-template>
  </div>
</busy-div>

<ng-template #userNotFoundTemplate>
  <div class="d-grid p-5 justify-content-center Text-Style-19">
    {{'search.userNotFound' | translate}}
  </div>
</ng-template>

<div *ngIf="editForbidden && hasUserLoaded">
  <div class="nav-bar-line"></div>
  <app-ratings [user]="iAmUser"></app-ratings>
</div>
