@import "src/styles/main";

.border-2{
  border-width: 2px !important;
}

.rounded{
  border-radius: 10px !important;
}

.profile-member-date{
  z-index: 2;
  right: 0;
  font-family: FrederickatheGreat, cursive;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--white);
}

.profile-background {
  height: 45vh;
  -webkit-filter: blur(10px);
  filter: blur(3px) brightness(0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.profile-background-content{
  z-index: 1;
  height: 45vh;
}

.profile-picture {
  width: 17.25rem;
  height: 17.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin: 3rem;
  box-shadow: 0 4px 4px 0 #00000040;
}

.profile-name{
  font-family: FrederickatheGreat, cursive;
  font-size: 3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 23.28px;
  text-align: left;
  color: var(--white);
  display: inline-grid;
}

.profile-username{
  font-size: 2.25rem;
  letter-spacing: 17.46px;
}

.profile-stats{
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: Roboto, serif;
  font-size: 1.175rem;
  letter-spacing: 14.55px;
}
