a{
  text-decoration: none !important;
  border: 0;
  transition: color 2s;
}

.text-style *{
  font-family: Roboto, serif;
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: right;
  color: #444b59;
}

.footer-login{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--white);
}
