<div *ngIf="cameraMode">
  <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
          [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
          [videoOptions]="videoOptions"
          [imageQuality]="1"
          (initError)="handleInitError($event)"
  ></webcam>
  <button class="actionBtn" (click)="triggerSnapshot();" mat-fab>
    <mat-icon>camera_alt</mat-icon>
  </button>
  <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable" mat-raised-button>Next Webcam</button>
</div>

<div *ngIf="!cameraMode">
  <img class="w-75" [src]="webcamImage!.imageAsDataUrl" alt="snapshot">
  <button (click)="cameraMode = true" mat-raised-button>cancel</button>
  <button (click)="save()" mat-raised-button>save image</button>
</div>
