@charset "UTF-8";

@use "styles/colors";
@use "styles/fonts";

@use '@angular/material' as mat;

@import "@angular/material/theming";


@import "@angular/material/theming";
@include mat.core();


$light-theme-primary: mat.define-palette(mat.$indigo-palette, 700, 300, 900);
$light-theme-accent: mat.define-palette(mat.$light-blue-palette);
$light-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);


$dark-theme-primary: mat.define-palette(mat.$purple-palette, 700, 300, 900);
$dark-theme-accent: mat.define-palette(mat.$green-palette);
$dark-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);


$light-theme: mat.define-light-theme(
    $light-theme-primary,
    $light-theme-accent,
    $light-theme-warn
);

$dark-theme: mat.define-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-themes($dark-theme);

}


@import '~bootstrap/scss/bootstrap';


html, body {
  height: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--very-light-brown) #f1f1f1;

}

.funny-cursor {

  a, button,
  .mat-focus-indicator,
  .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex,
  .mat-select-trigger,
  .mat-slide-toggle-label {
    cursor: url('assets/img/hover-cursor.png'), auto !important;
  }


  cursor: url('assets/img/normal-cursor.png'), auto;

}



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-selected {
  background: rgba(0,0,0,0.2);
  filter: brightness(80%);
}

a.mat-button-base, a.mat-button-base:hover {
  color: var(--color-default);
  text-decoration: none!important;
  border: 0;
}

.rounded{
  border-radius: 10px !important;
}

.border-2{
  border-width: 2px !important;
}

.h-100{
  height: 100%;
}

.h-90{
  height: 90%;
}

.left-50{
  left: 50%;
}

.flex-grow-2{
  flex-grow: 2;
}

.justify-items-center{
  justify-items: center;
}

.w-fit-content{
  width: fit-content;
  width: -moz-fit-content;
}

.cursor-pointer{
  cursor: pointer;
}

.nav-bar-line {
  width: 100%;
  height: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.29);
  background-color: #766d63;
}

.Line-6 {
  width: 2px;
  height: 20rem;
  background-image: linear-gradient(0deg, rgba(192, 198, 201, 0) 0%, #c0c6c9 50%, rgba(192, 198, 201, 0) 100%);
}

a{
  text-decoration: none !important;
  border: 0;
  transition: color 2s;
}

.d-inline-grid{
  display: inline-grid;
}

.d-grid{
  display: grid;
}

a:hover{
    color: rgb(211, 70, 94);
    transition: all ease 700ms;
}

.on-hover:hover {
  background: rgba(0,0,0,0.15);
  cursor: pointer;
  transition: 0.3s;
}

.BODYBACKGROUND-OVERLAY {
  display: block;
  width: 99%;
  height: 98%;
  margin: 0.5% auto auto;
  border-radius: 10px;
  box-shadow: 0px -20px 16px 6px rgb(0 0 0 / 20%);
  background-color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--very-light-brown);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--camel);
}

.dialogFullSize {
  mat-dialog-container {
    padding: unset;
    border-radius: 10px;
  }
}

.respect-new-line{
  white-space: pre-wrap;
}

.banner-popover {
  max-width: none;
  max-height: 50vh;
  background: #3d3d3d;
  .popover-body {
    overflow-y: scroll;
    max-height: 50vh;
  }
  .arrow::after, .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
    border-bottom-color: #3d3d3d!important;
  }
}

.mb-7 {
  margin-bottom: 5rem;
}
