<div class="nav-bar nav-bar-logo">
  <a routerLink="/">
    <img class="nav-bar" src="/assets/img/logo.svg"/>
  </a>

</div>

<div class="nav-bar nav-bar-buttons justify-content-between d-flex flex-grow-1">
  <a mat-icon-button *ngFor="let btn of buttons" [routerLink]="btn.path"  [class.button-selected]="router.url.includes(btn.path)">
    <mat-icon >{{btn.icon}}</mat-icon>
  </a>
  <a class="nav-bar nav-bar-profile-border" routerLink="profile" mat-ripple>
    <img src="/assets/img/default-user.png" class="nav-bar nav-bar-profile"/>
  </a>
</div>
<div class="nav-bar-line"></div>

