.nav-bar-u {

  width: 140.6px;
  height: 120.9px;
  text-shadow: 0 5.3px 5.3px rgba(0, 0, 0, 0.25);
  font-family: FrederickatheGreat;
  font-size: 94.6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 45.88px;
  text-align: center;
  color: #000;
}

.nav-bar-n {

  width: 42px;
  height: 69px;
  text-shadow: 0 5.3px 2.6px rgba(0, 0, 0, 0.25);
  font-family: FrederickatheGreat;
  font-size: 56.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 27.4px;
  text-align: center;
  color: #000;
}

.nav-bar-decided{

  width: 325px;
  height: 50px;
  text-shadow: 0 5.3px 2.6px rgba(0, 0, 0, 0.5);
  font-family: FrederickatheGreat;
  font-size: 41.1px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 19.92px;
  text-align: center;
  color: #000;
}


.nav-bar-buttons {
  margin: 1rem 2rem 1rem 9rem;
  align-items: center;
}

.nav-bar-line {
  width: 100%;
  height: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.29);
  background-color: #766d63;
}

.nav-bar-profile {
  border-radius: 50px;
}

.nav-bar-profile-border {
  width: 88px;
  height: 88px;
  border: solid 3px #000;
  border-radius: 50px;
}
